* {
    margin: 0xp;
    padding: 0px;
}

.main {
    padding: 50px 10%;;
}

h4{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 18px;
}

.block-container {
    max-width: unset;
    padding: unset;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

.btn {
    margin-left: 5px;
}

.badge {
    padding: 10px;
}

.btn-secondary {
    background-color: #ccc;
    color: #666;
}

.netflix {   
    color: #fff;
    background-color: #D00000;
    font-weight: bold;
}

.prime {
    color: #fff;
    background-color: #00A8E1;
    font-weight: bold;
}

.disney {
    color: #fff;
    background-color: #010634;
    font-weight: bold;
}

.apple {   
    color: #fff;
    background-color: #19191B;
    font-weight: bold;
}

.now {   
    color: #fff;
    background-color: #016E78;
    font-weight: bold;
}

.iplayer {
    color: #FF4A9C;
    background-color: #000;
}


.card {
    margin-bottom: 20px;
    border: none;
}

.card-header{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px;
    justify-content: space-between;
    border: 1px solid #aaa;
    background-color: navy;
}

.card-header h4 {
    color: #fff;
}

.card-body {
    display: flex;
    border: 1px solid #aaa;
}

.card-leftcol {
    margin-right: 25px;
    flex: auto;
}

.card-rightcol {
    flex: auto;
}

.poster {
    width: 200px;
    border: 1px solid #191919;
}

.card-footer {
    display: flex;
    justify-content: end;
    padding: 10px 0px;
    background-color: transparent;
    border: none;
}

.actor {
    font-weight: normal;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #FBAA08;
    color: #191919;
    border-radius: 10px;
    margin-bottom: 5px;
}


