.main {
    padding: 50px 10%;;
}

.block-container {
    max-width: unset;
    padding: unset;
}

.btn {
    color: #555;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #ddd;
    margin-left: 5px;
    font-weight: normal;
    float: right;
}

.pill {
    border: 1px solid #aaa;
    padding: 1px 10px;
    margin-left: 5px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    float: right;
}

.year-pill {
    padding: 1px 5px;
    border: none;
}

.netflix {   
    color: #fff;
    background-color: #D00000;
    font-weight: bold;
}

.prime {
    color: #fff;
    background-color: #00A8E1;
    font-weight: bold;
}

.disney {
    color: #fff;
    background-color: #010634;
    font-weight: bold;
}

.apple {   
    color: #fff;
    background-color: #19191B;
    font-weight: bold;
}

.now {   
    color: #fff;
    background-color: #016E78;
    font-weight: bold;
}

.iplayer {
    color: #FF4A9C;
    background-color: #000;
}

.card {
    margin-bottom: 25px;
    padding: 0px;
    border: none;
}

.card-header {
    display: block;
    clear: both;
    border: 1px solid #aaa;
    border-bottom: 25px solid #aaa;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    background-color: #191919;
    color: #fff;
    font-weight: bold;
    vertical-align: center;
}

.card-body {
    display: flex;
    padding: 0px;
    border: 1px solid #aaa;
    border-top: none;
    vertical-align: top;
    border-radius: 0px 0px 0px 50px;
}

.card-footer {
    padding: 10px 0px;
    background-color: #fff;
    text-align: right;
}

.poster {
    width: 200px;
    border: 1px solid #191919;
}

.image {
    padding: 20px;
    padding-bottom: 30px;
    background-color: #191919;
    border-radius: 0px 0px 0px 50px;
    flex: 1;
}

.film-details {
    padding: 10px;
    float: left;
    border-left: 1px solid #191919;
}

.actor {
    font-weight: normal;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #FBAA08;
    color: #191919;
    border-radius: 10px;
    margin-bottom: 5px;
}

.nonukdata {
    display: block;
    clear: both;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 13px;
    background-color: #191919;
    color: #fff;
    font-weight: bold;
    vertical-align: center;
    margin-bottom: 10px;
}

hr {
    margin: 20px 0px;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
